@use '../abstracts/mixins';

.contact {
  height: calc(100vh - 72px);
  @include mixins.flex-center;
  text-align: center;
}

.contact-text {
  > a {
    > svg {
      margin: 0 auto;
      &:hover {
        fill: deepskyblue;
      }
    }
  }
}
