.navbar {
  background: coral;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 2rem;
  gap: 1rem;
  position: sticky;
  top: 0;

  a {
    font-size: 1.125rem;
  }
}
